::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px #0a7878;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #474747;
  background-color: #474747;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #343434;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.post-sec {
  padding-top: 305px;
  padding-bottom: 100px;
  background-color: #111111;
  background-image: url(/assets/i/bg/hero-bg.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-sec__wrapper {
  max-width: 1260px;
  margin: auto;
  overflow: auto;
  display: -webkit-box;
}

.post-sec__wrapper--grids {
  color: white;
}

.post-sec__wrapper--grids:nth-child(1) {
  margin-left: 30px;
}

.post-sec__wrapper--grids:nth-child(2) {
  margin-left: 40px;
}

.post-sec__wrapper--grids:nth-child(3) {
  margin-left: 40px;
}

.post-wrap {
  max-width: 370px;
}

.post-wrap__title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.post-wrap__title a {
  display: block;
  text-decoration: none;
  color: white;
}

.post-wrap__title a:hover {
  text-decoration: underline;
  color: white;
}

.post-wrap__title--arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  margin-top: 6px;
  margin-left: 6px;
}

.post-wrap__tweet {
  margin: 18px 0 45px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  border: 0.5px solid #434343;
  border-radius: 4px;
}

.post-wrap__tweet--media {
  border-top-right-radius: 4px;
  min-height: 250px;
  overflow: hidden;
  background-image: url(/assets/i/bg/image-preloader-large.svg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

.post-wrap__tweet--media img {
  width: 100%;
}

.post-wrap__tweet--info {
  padding: 10px 17px 20px 15px;
}

.post-wrap__tweet .tweet__admin-info {
  line-height: 20px;
}

.post-wrap__tweet .tweet__admin-info--dp {
  height: 28px;
  border-radius: 100px;
  float: left;
  margin-top: 2px;
  margin-right: 7.5px;
}

.post-wrap__tweet .tweet__admin-info--name, .post-wrap__tweet .tweet__admin-info--user-name {
  display: block;
  font-size: 14px;
}

.post-wrap__tweet .tweet__admin-info--name {
  font-weight: bold;
}

.post-wrap__tweet .tweet__admin-info--name a {
  color: white;
  text-decoration: none;
}

.post-wrap__tweet .tweet__admin-info--name a:hover {
  text-decoration: underline;
  color: navajowhite;
}

.post-wrap__tweet .tweet__admin-info--name i {
  position: relative;
}

.post-wrap__tweet .tweet__admin-info--name i:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  font-size: 12.5px;
  margin-left: 0px;
}

.post-wrap__tweet .tweet__admin-info--user-name {
  color: #ccc;
  margin-bottom: 7px;
}

.post-wrap__tweet .tweet__admin-info--post-time {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #ccc;
  margin-top: -48px;
  position: absolute;
  margin-left: 320px;
}

.post-wrap__tweet .tweet__text-container--words {
  font-size: 14px;
  padding-right: 15px;
  line-height: 21px;
  font-weight: 400;
  word-spacing: 1px;
  color: #fff;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter {
  cursor: pointer;
  color: orangered;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter:hover {
  text-decoration: underline;
}

.post-wrap__tweet .tweet__text-container--words .hash-highlighter:before {
  content: "#";
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter {
  cursor: pointer;
  color: darkorange;
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter:hover {
  text-decoration: underline;
}

.post-wrap__tweet .tweet__text-container--words .at-highlighter:before {
  content: "@";
}

.post-wrap__tweet .tweet__tags-container {
  font-size: 12px;
  word-spacing: 1px;
  margin-top: 10px;
  color: #999;
  line-height: 18px;
}

.post-wrap__tweet .tweet__reactions {
  margin-top: 15px;
}

.post-wrap__tweet .tweet__reactions span {
  font-size: 12px;
  font-weight: bold;
}

.post-wrap__tweet .tweet__reactions span:nth-child(2) {
  margin-left: 62px;
  margin-right: 60px;
}

.post-wrap__tweet .tweet__reactions span i {
  position: relative;
}

.post-wrap__tweet .tweet__reactions span i:before {
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  font-size: 16px;
}

.post-wrap__tweet .tweet__reactions span i:hover:before {
  color: #ccc;
  cursor: pointer;
}

.post-wrap__tweet .tweet__reactions span .reply {
  margin-left: 5px;
}

.post-wrap__tweet .tweet__reactions span .retweet, .post-wrap__tweet .tweet__reactions span .like {
  margin-right: 8px;
}

.post-wrap__tweet .tweet__reactions span .reply:before {
  content: "\f112";
}

.post-wrap__tweet .tweet__reactions span .retweet:before {
  content: "\f079";
}

.post-wrap__tweet .tweet__reactions span .like:before {
  content: "\f08a";
}

.post-wrap__tweet .tweet__reactions span .num {
  text-decoration: none;
  color: #ccc;
  position: absolute;
  margin-top: 2px;
}

/*post-tranformation*/
.resize {
  padding-top: 174px;
}

.post-sec {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.header {
  height: 270px;
  *zoom: 1;
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header:after, .header:before {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}

.header-container {
  max-width: 100%;
  background-color: black;
  height: 210px;
  background-image: url(/assets/i/bg/header-bg-cover-blackish.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.header-container__wrapper {
  max-width: 1250px;
  margin: auto;
}

.header-container__wrapper--logo {
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 29px;
  margin-top: 29px;
}

.header-container__wrapper--logo img {
  height: 25px;
}

.header-container__wrapper--account {
  float: right;
}

.header-container__wrapper--headline {
  position: absolute;
  width: 500px;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.header-container__wrapper--headline span {
  display: inline-block;
  margin: 67px auto 0 auto;
}

.header-container .account-opt {
  margin-top: 24px;
  margin-right: 29px;
}

.header-container .account-opt__list {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.header-container .account-opt__list a {
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 16px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.header-container .account-opt__list a:hover {
  background-color: white;
  color: black;
}

.header-container .account-opt__list .has--margin {
  margin-right: 15px;
}

/*header-container-transformations*/
.small {
  height: 140px;
}

.small .header-container__wrapper--headline-title {
  margin-top: 12px;
}

.small .header-container {
  height: 80px;
}

header, .header-container__wrapper--headline-title, .header-container {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/*end-tranformation-settings*/
.header-navigation {
  background-color: #232323;
}

.header-navigation__wrapper {
  height: 60px;
  max-width: 1250px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.header-navigation__wrapper--menu {
  list-style-type: none;
}

.header-navigation__wrapper--menu li {
  display: inline-block;
  margin-left: -4.4px;
}

.header-navigation__wrapper--menu li:nth-child(8) a {
  border-right: 0 solid #434343;
}

.header-navigation__wrapper--menu li:nth-child(2) i {
  display: block;
}

.header-navigation__wrapper--menu li a {
  display: block;
  padding: 19px 45px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-right: 0.5px solid #434343;
}

.header-navigation__wrapper--menu li a:hover ~ i {
  display: block;
}

.header-navigation__wrapper--menu li a img {
  height: 15px;
}

.header-navigation__wrapper--menu li a .dd-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 6px 0 0 8px;
  float: right;
}

.header-navigation__wrapper--menu li i {
  width: 100%;
  display: block;
  height: 5px;
  margin-top: -5px;
  background: #707070;
  display: none;
}

.header-navigation__wrapper--menu li .dd-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  width: 223px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  font-weight: 500;
  margin-left: -40px;
  animation: 0.2s comedown ease-in;
}

.header-navigation__wrapper--menu li .dd-content a {
  padding: 10px 20px;
  font-size: 16px;
}

.header-navigation__wrapper--menu li .dd-content a:nth-child(1) {
  margin-top: 10px;
}

.header-navigation__wrapper--menu li .dd-content a:nth-child(4) {
  margin-bottom: 10px;
}

@keyframes comedown {
  0% {
    height: 0;
  }
  100% {
    height: 180px;
  }
}

.header-navigation__wrapper--menu li .show {
  display: block;
}

.footer {
  border-top: 1px solid #434343;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #222;
}

.footer__container {
  margin: auto;
  text-align: center;
  max-width: 1190px;
}

.footer__container--menu {
  padding: 11px 10px;
}

.footer__container--menu li {
  display: inline-block;
  font-size: 12px;
  padding: 0 9px;
}

@media screen and (max-width: 620px) {
  .footer__container--menu li {
    font-size: 11px;
    padding: 0 5px;
  }
}

.footer__container--menu li a {
  text-decoration: none;
  color: #999;
}

.footer__container--menu li a:hover {
  text-decoration: underline;
}
